name: Build and deploy Node.js app to Azure Web App - recursivekindness1

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read # This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '24.x'

      - name: Install dependencies, build, and test
        run: |
          cd frontend # Navigate to the frontend directory
          npm install
          npm run build --if-present
          npm run test --if-present

      - name: Upload frontend artifact
        uses: actions/upload-artifact@v4
        with:
          name: frontend-artifact
          path: ./frontend/build # Make sure you're uploading the build output (or the right directory)

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read # This is required for actions/checkout

    steps:
      - name: Download frontend artifact
        uses: actions/download-artifact@v4
        with:
          name: frontend-artifact

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_7C42E98ADF9147E2BFE4B0957FAC4FB5 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_02FF091DCB3A46E6867BF47EB61E2430 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_F24A3482F3254882989E47B8448917C7 }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'recursivekindness1'
          slot-name: 'Production'
          package: './frontend/build' # Path to the build directory (or whichever directory you want to deploy)
